<ion-menu id="loggedin"[content]="content" type="push">
  
  <ion-header >
    <ion-toolbar class="menu1">
      <ion-title >MENU</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content >
    
    <ion-list >
      <div  *ngFor="let p of menu" (click)="openPage(p)">
      <button menuClose ion-item  *ngIf="p!=rootPage">
        {{p.title}}
      </button></div>
    </ion-list>
    <ion-footer>
      <ion-toolbar>
      <img  class="logo" src="https://admin.nitdgp.ac.in/files/activities/student_clubs/GNU.png" >
      <img src="https://admin.nitdgp.ac.in/files/activities/student_festivals/41413777_310923182797062_7490048052233764864_n.jpg"  style="border-radius: 50%;" class="logo">
      </ion-toolbar>
      </ion-footer>

  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<div class="con"></div>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>